In [17]:
import pandas as pd
import numpy as np

In [18]:
df=pd.read_csv('BankNote_Authentication.csv')

In [19]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [20]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [21]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [22]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [25]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [26]:
y_pred=classifier.predict(X_test)

In [27]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [28]:
score

0.9878640776699029

In [29]:
import pickle
pickle_out=open("classifier.pkl","wb")
pickle.dump(classifier,pickle_out)
pickle_out.close()

In [30]:
import numpy as np

In [31]:
classifier.predict([[2,3,4,1]])

array([0], dtype=int64)